@font-face {
    font-family: 'Faculty Glyphic';
    src: url('../fonts/Faculty_Glyphic/FacultyGlyphic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: italic;
}

/* reset */
body {
    margin: 0;
}

body {
    --bg-color: hsl(
        0, 0%, calc(
            8% * min(1,
                var(--scroll-y, 0) / (var(--vh, 1000) / 2)
            )
        )
    );
    --content-translate-start: -20dvh;
    --content-translate-amount: 20dvh;
    --footer-margin: calc(
        var(--content-translate-start) -
        var(--content-translate-amount)
    );
    background: var(--bg-color);
    color: #ccc;
    font: normal 1.5rem/1.5 Inter, helvetica, arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Faculty Glyphic", sans-serif;
}

/* svg utils */
#baklava-symbols {
    display: none;
}

/* entrance */
.entrance {
    height: 100dvh;
    display: grid;
    place-content: center;
    position: relative;
}

.entrance::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateY(1px);
    background: linear-gradient(
        to bottom,
        transparent 80%,
        var(--bg-color)
    );
    pointer-events: none;
}

.logo {
    position: relative;
    margin: 0;
    width: clamp(300px, 700px, 60dvw);
    aspect-ratio: 4;
    fill: white;
}

.logo path {
    --fill: white;
    opacity: 0;
    translate: 0 -5%;
    animation: enter 1s forwards 1;
    animation-delay: calc(
        var(--i) * 50ms +
        var(--j, 0) * 20ms
    );
}

.logo path[id*="entertainment"] {
    --fill: #ccc;
}

#logo-skala-s1  { --i: 0; }
#logo-skala-s2  { --i: 1; }
#logo-skala-k1  { --i: 2; }
#logo-skala-k2  { --i: 3; }
#logo-skala-a1  { --i: 4; }
#logo-skala-a2  { --i: 5; }
#logo-skala-l1  { --i: 6; }
#logo-skala-l2  { --i: 7; }
#logo-skala-aa1 { --i: 8; }
#logo-skala-aa2 { --i: 9; }
.logo path[id*="entertainment"] {
    --i: 10;
}
#logo-entertainment-e   { --j: 0; }
#logo-entertainment-n   { --j: 1; }
#logo-entertainment-t   { --j: 2; }
#logo-entertainment-ee  { --j: 3; }
#logo-entertainment-r   { --j: 4; }
#logo-entertainment-tt  { --j: 5; }
#logo-entertainment-a   { --j: 6; }
#logo-entertainment-i   { --j: 7; }
#logo-entertainment-nn  { --j: 8; }
#logo-entertainment-m   { --j: 9; }
#logo-entertainment-eee { --j: 10; }
#logo-entertainment-nnn { --j: 11; }
#logo-entertainment-ttt { --j: 12; }

@keyframes enter {
    from {
        fill: hsl(280, 60%, 50%);
    }
    66% {
        fill: hsl(40, 50%, 80%);
    }
    to {
        opacity: 1;
        translate: 0 0;
        fill: var(--fill);
    }
}

#baklawave {
    position: absolute;
    animation: canvas-enter .5s forwards 1;
}

@keyframes canvas-enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* content */

.content {
    --accent: #ea6;
    --delay-distance: calc(var(--vh) / 10);
    --delayed-scroll: calc(
        max(
            var(--delay-distance),
            var(--scroll-y)
        ) - var(--delay-distance)
    );
    --translate-scroll-target: calc(var(--vh) / 2);
    --translate-start: var(--content-translate-start);
    --translate-amount: var(--content-translate-amount);
    --opacity-scroll-target: calc(var(--vh) / 4);
    width: clamp(15rem, 50rem, 80dvw);
    margin: 0 auto;
    padding: 10dvh 0;
    font-size: max(13px, min(4dvw, 1em));
    transform: translateY(
        calc(
            var(--translate-start) -
            min(
                var(--translate-amount),
                var(--translate-amount) *
                var(--delayed-scroll) /
                var(--translate-scroll-target)
            )
        )
    );
    opacity: calc(
        var(--delayed-scroll) /
        var(--opacity-scroll-target)
    );
}

.headline {
    margin-bottom: 3em;
    font-size: 1.3em;
}

.headline h1 {
    font-size: 2.3em;
    margin-bottom: 0;
}

.headline p {
    text-wrap: balance;
}

#fun {
    display: inline-block;
    cursor: pointer;
    transition:
        all .3s cubic-bezier(.68, -0.55, .27, 1.55);
}

.headline h1:hover #fun {
    scale: 1.1;
    rotate: 3deg;
    color: #fd5;
}

.content *:first-child {
    margin-top: 0;
}

.content *:last-child {
    margin-bottom: 0;
}

.content img {
    max-width: 100%;
}

.content strong {
    font-variant: all-small-caps;
    letter-spacing: .05em;
    color: var(--accent);
    font-size: .96em;
}

.content em {
    font-family: monospace;
    font-variant: all-small-caps;
    font-style: normal;
    font-size: 1em;
    padding: 0 .8em .1em;
    margin: 0 .4em;
    animation: em-blink .5s infinite;
}

@keyframes em-blink {
    from, to {
        box-shadow: -.8em 0 0 -.4em transparent;
    }

    50% {
        box-shadow: -.8em 0 0 -.45em var(--accent);
    }
}

.content .image-wrapper {
    text-align: center;
}

.content .section-header {
    margin: 3em 0 1em;
}

.content p:has(.cta-link) {
    text-align: center;
    margin: 2em;
}

.content .cta-link {
    display: inline-block;
    padding: .6em 2em;
    text-decoration: none;
    color: #fff;
    background: #1c3a57;
    border-radius: 5rem;
}

.content .cta-link:hover,
.content .cta-link:focus {
    background: #2c4c6a;
}

.content .cta-link:active {
    background: #0c2a47;
}

.cta-link svg {
    width: 1.3em;
    fill: currentColor;
    vertical-align: middle;
    margin: -.1em .25em 0 0;
}

.main-footer {
    margin-top: var(--footer-margin);
    text-align: center;
}

.address, .phone, .twitter {
    width: min(500px, 80dvw);
    margin: 0 auto 1em;
    font-size: .8em;
    color: #bbb;
}

.address-icon,
.phone-icon {
    width: .9em;
    fill: currentColor;
}

.phone {
    font-style: normal;
}

.phone a {
    color: inherit;
    text-decoration: none;
}

.twitter a {
    color: currentColor;
    text-decoration: none;
}

.signature {
    padding: 2em;
}

.signature-icon {
    width: 1.5em;
    fill: white;
}
