/* reset */
body {
    margin: 0;
}

body {
    background: black;
}

.entrance {
    height: 100dvh;
    display: grid;
    place-content: center;
}

.logo {
    --letter-spacing: 20.8%;
    margin: 0;
    width: clamp(300px, 9000px, 90dvw);
    aspect-ratio: 4;
    background: url(logo-entertainment-trim.webp) no-repeat center center;
    background-size: 0%;
    position: relative;
    perspective: 99999px;
    perspective-origin: 57920px 0%;
    overflow: hidden;
}

.baklava {
    --offset-x: .27%;
    --anim-duration: .5s;
    --anim-gap: .05s;
    display: inline-block;
    width: 8.15%;
    aspect-ratio: 1/2;
    position: absolute;
    background: white;
    transform-style: preserve-3d;
}

.baklava-1 {
    top: -32.51%;
    left: var(--offset-x);
    transform-origin: bottom center;
    animation:
        baklava-1
        var(--anim-duration)
        ease-in 1 forwards;
}

@keyframes baklava-1 {
    from {
        opacity: 0;
        transform:
            rotateX(60deg)
            translateY(-500%)
            scale(0);
    }
    to {
        opacity: 1;
        transform:
            rotateX(60deg)
            translateY(0)
            scale(1);
    }
}

.baklava-2 {
    top: .5%;
    left: var(--offset-x);
    transform: rotateX(60deg);
    transform-origin: bottom center;
    translate: 0 -50%;
    opacity: 0;
    animation:
        baklava-2
        var(--anim-duration)
        ease-out 1 forwards;
}

@keyframes baklava-2 {
    to {
        opacity: 1;
        translate: 0 0;
    }
}

.baklava-3 {
    top: -32.51%;
    left: calc(
        var(--offset-x) +
        var(--letter-spacing)
    );
    transform-origin: bottom center;
    opacity: 0;
    animation:
        baklava-3
        var(--anim-duration)
        ease-in 1 forwards;
}


@keyframes baklava-3 {
    from {
        transform:
            rotateX(60deg)
            translateY(500%)
            scale(0);
    }
    to {
        opacity: 1;
        transform:
            rotateX(60deg)
            translateY(0)
            scale(1);
    }
}

.baklava-4 {
    top: -32%;
    left: calc(
        var(--offset-x) +
        var(--letter-spacing)
    );
    transform-origin: bottom center;
    opacity: 0;
    animation:
        baklava-4
        var(--anim-duration)
        ease-out 1 forwards;
}

@keyframes baklava-4 {
    from {
        transform:
            rotateZ(180deg)
            rotateX(120deg);
    }
    to {
        opacity: 1;
        transform:
            rotateZ(180deg)
            rotateX(60deg);
    }
}

.baklava-5 {
    top: -32%;
    left: calc(
        var(--offset-x) +
        var(--letter-spacing) * 2
        - .1%
    );
    opacity: 0;
    transform-origin: bottom left;
    animation:
        baklava-5
        var(--anim-duration)
        ease-in 1 forwards;
}

@keyframes baklava-5 {
    from {
         transform:
            rotateX(60deg)
            rotateY(106deg)
            scale(.2)
            translateY(500%);
    }
    to {
        opacity: 1;
        transform:
            rotateX(60deg)
            rotateY(106deg)
            scale(1.2, 1.01)
            translateY(0);
    }
}

.baklava-6 {
    top: -32%;
    left: calc(
        var(--offset-x) +
        var(--letter-spacing) * 2
        + 8.25%
    );
    opacity: 0;
    transform-origin: bottom right;
    animation:
        baklava-6
        var(--anim-duration)
        ease-out 1 forwards;
}

@keyframes baklava-6 {
    from {
        transform:
            rotateX(-60deg)
            rotateY(106deg)
            translateY(500%)
            scale(.5);
    }
    to {
        opacity: 1;
        transform:
            rotateX(-60deg)
            rotateY(106deg)
            translateY(0)
            scale(1.2, 1.01);
    }
}

.baklava-7 {
    top: -32%;
    left: calc(
        var(--offset-x) +
        var(--letter-spacing) * 3
        - .1%
    );
    opacity: 0;
    transform-origin: bottom left;
    animation:
        baklava-7
        var(--anim-duration)
        ease-in 1 forwards;
}

@keyframes baklava-7 {
    from {
         transform:
            rotateX(60deg)
            rotateY(106deg)
            translateY(-500%);
            scale(.2);
    }
    to {
        opacity: 1;
        transform:
            rotateX(60deg)
            rotateY(106deg)
            translateY(0)
            scale(1.2, 1.01);
    }
}

.baklava-8 {
    top: .9%;
    left: calc(
        var(--offset-x) +
        var(--letter-spacing) * 3
    );
    transform-origin: bottom center;
    opacity: 0;
    animation:
        baklava-8
        var(--anim-duration)
        ease-out 1 forwards;
}

@keyframes baklava-8 {
    from {
        transform:
            rotateX(60deg)
            scale(.2)
            translateY(-1000%);
    }
    to {
        opacity: 1;
        transform:
            rotateX(60deg)
            scale(1)
            translateY(0);
    }
}

.baklava-9 {
    top: -32%;
    left: calc(
        var(--offset-x) +
        var(--letter-spacing) * 4
        - .1%
    );
    opacity: 0;
    transform-origin: bottom left;
    transform:
        rotateX(60deg)
        rotateY(106deg);
    translate: 0 200%;
    animation:
        baklava-9-10
        var(--anim-duration)
        ease-in 1 forwards;
}

.baklava-10 {
    top: -32%;
    left: calc(
        var(--offset-x) +
        var(--letter-spacing) * 4
        + 8.25%
    );
    opacity: 0;
    transform-origin: bottom right;
    transform:
        rotateX(-60deg)
        rotateY(106deg);
    translate: 0 200%;
    animation:
        baklava-9-10
        var(--anim-duration)
        ease-in 1 forwards;
}

@keyframes baklava-9-10 {
    to {
        opacity: 1;
        translate: 0 0;
    }
}
